/* Styles for whole page */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #b6ffc2;
}

header {
  background: linear-gradient(#f1e8b8, #ffc2cc, #a5ccf3, #f8b6a0);
}

/* Styles for element types */

/* Nav bar style */

.container {
  width: 100%;
  min-height: 10vh;
  padding: 0 8%;
  overflow: hidden;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
}

#menu-icon {
  display: none;
  cursor: pointer;
  width: 25px;
}

nav {
  flex: 1; /*Each item that has flex 1 has the remaining width of container*/
  text-align: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  margin-top: 20px;
}

nav > ul > li > a {
  text-decoration: none;
  color: #36072a;
  font-size: 1.1vw;
}

nav ul li a:hover {
  color: #ff4766;
}

@media only screen and (max-width: 728px) {
  /* Nav menu adjusted for screen size */
  #menu-icon {
    display: block;
    position: absolute;
    top: 10px;
  }

  #menuList {
    overflow: hidden;
    transition: 0.5s;
  }

  nav ul {
    width: 50%;
    background: linear-gradient(#f1e8b8, #ffc2cc, #a5ccf3, #f8b6a0);
    top: 70px;
    right: 0;
    z-index: 2;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
    padding-right: 10px;
  }

  nav ul li a {
    color: #fff;
  }

  nav ul li a:hover {
    color: #fff;
    font-weight: bolder;
  }
}

/* Title section styles */
#title {
  display: flex;
  justify-content: center;
  text-align: center;
  background: url(img/capybara.jpg) #ffc2cc center left repeat;
  background-size: 100vw 80vw;
  /* animation to scroll and change background to css code */
  animation: title-background 8s 1;
  height: 30vw;
}

@keyframes title-background {
  12.5% {
    background: url(img/axolotl.jpg) #ffc2cc bottom left;
    background-size: 100vw 80vw;
  }
  25% {
    background: url(img/axolotl.jpg) #a5ccf3 top left;
    background-size: 100vw 80vw;
  }
  37.5% {
    background: url(img/fox.webp) #ffc2cc bottom left;
    background-size: 100vw 67vw;
  }
  50% {
    background: url(img/fox.webp) #a5ccf3 top left;
    background-size: 100vw 67vw;
  }
  62.5% {
    background: url(img/shark.avif) #ffc2cc bottom left;
    background-size: 100vw 56vw;
  }
  75% {
    background: url(img/shark.avif) #a5ccf3 top left;
    background-size: 100vw 56vw;
  }
  87.5% {
    background: url(img/capybara.jpg) #ffc2cc bottom left;
    background-size: 100vw 80vw;
  }
  100% {
    background: url(img/capybara.jpg) #a5ccf3 center left;
    background-size: 100vw 80vw;
  }
}

#banner {
  background-color: #a5ccf3;
  width: 56%;
  height: 8vw;
  flex-wrap: wrap;
  padding: 4vw 2vw 10vw;
  margin-top: 4vw;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #f8b6a0;
  background-color: #f8b6a0;
  color: #36072a;
  min-width: 7vw;
  margin: 2vw 0.3vw;
  padding: 2px;
  font-size: 1.3vw;
  text-align: center;
}

.btn:hover {
  background-color: #f1e8b8;
}
